__pycache__/
.cache
.coverage
.eggs
.env*
.eslintcache
*.egg-info
*.pyc
*.pyo
build
dist
dist/
lib/backend/application-custom.cfg
lib/frontend/assets/
lib/frontend/static/
Makefile.custom.config
node_modules/
.ropeproject/
database.db
