_
*.pyc
*.pyo
__pycache__/
*.egg-info
.cache
.coverage
.eggs
dist
build
.env*
lib/frontend/assets/
lib/frontend/static/
dist/
node_modules/
Makefile.custom.config
lib/backend/application-custom.cfg
.eslintcache
