__pycache__/
.cache
.coverage
.eggs
.env*
.eslintcache
*.egg-info
*.pyc
*.pyo
build
dist
dist/
lib/backend/application-custom.cfg
lib/frontend/assets/
lib/frontend/static/
base.Makefile
config.custom.Makefile
node_modules/
.ropeproject/
database.db
*.old
.pytest_cache/
.venv/
.idea/
