@import url(https:\/\/fonts.googleapis.com/css?family=Montserrat:400);
@import url(https:\/\/fonts.googleapis.com/css?family=Lato:400,700);
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif; }

a {
  color: #6fa1fe;
  text-decoration: none; }

ul {
  list-style: none;
  padding-left: 0; }

input {
  background: #e0e9f0;
  border: none;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  margin: 0;
  max-width: 100%;
  outline: none; }

label {
  display: block; }

[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #c5ccd2;
  box-shadow: none;
  height: 15px;
  width: 15px; }
  [type=checkbox]:active {
    border-color: #6fa1fe; }
  [type=checkbox]:checked {
    background: content-box #6fa1fe;
    border-color: #6fa1fe;
    padding: 2px; }
    [type=checkbox]:checked:active {
      border-color: #c5ccd2; }

[type=submit] {
  border: none;
  background: #bac9d5;
  font-family: Lato, sans-serif;
  margin: 0.5em 0;
  padding: 1em;
  transition: background 0.2s; }
  [type=submit]:hover, [type=submit]:focus {
    background: #cad5df; }

[class|=label]:before {
  background-color: #000;
  border-radius: 0.25em;
  border-width: 0.25em;
  content: '';
  display: inline-block;
  height: 0.5em;
  font-size: 0.9em;
  margin-right: 0.5em;
  vertical-align: middle;
  width: 0.5em; }

body {
  align-content: flex-start;
  background-color: #f0f5f9;
  color: #010101;
  display: flex;
  height: 100vh;
  flex-flow: column wrap;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin: 0;
  width: 100vw; }
  body header {
    align-items: center;
    background: #2c3249;
    display: flex;
    flex-flow: row wrap;
    width: 100%; }
    body header h1 {
      color: #fff;
      flex: 1;
      font-size: 1.2em;
      margin: 0;
      padding-left: 1em; }
    body header nav ul {
      display: flex;
      flex-flow: row wrap;
      margin: 0; }
      body header nav ul li {
        font-weight: 700;
        text-transform: uppercase;
        transition: background 0.3s; }
        body header nav ul li.checked a {
          background: #6fa1fe; }
        body header nav ul li a {
          color: #fff;
          display: block;
          padding: 1em; }
          body header nav ul li a:hover, body header nav ul li a:focus {
            background: #6fa1fe; }
  body aside {
    background: #2c4065;
    color: #ced9eb; }
    body aside [type=submit] {
      margin: 0.5em 0;
      padding: 0.2em;
      width: 100%; }
    body aside li {
      margin: 0.5em 0.2em; }
    body aside#flash {
      text-align: center;
      width: 100%; }
    body aside#status {
      align-items: center;
      display: flex;
      padding-left: 8em; }
      body aside#status form {
        align-items: stretch;
        display: flex;
        width: 100%; }
        body aside#status form fieldset {
          border: none;
          margin: 0 2em 0 0;
          padding: 0; }
          body aside#status form fieldset input:checked + label {
            background: #f54e40;
            color: #fff; }
          body aside#status form fieldset.state label:hover {
            background: #6fa1fe; }
          body aside#status form fieldset.state input:checked + label {
            background: #6fa1fe;
            color: #fff; }
          body aside#status form fieldset.groupby {
            flex: 1; }
          body aside#status form fieldset label {
            display: inline-block;
            padding: 1em;
            transition: background 0.2s, color 0.2s; }
            body aside#status form fieldset label:hover {
              background: #f54e40;
              color: #fff;
              cursor: pointer; }
          body aside#status form fieldset.query {
            background: #5a7ab7;
            margin-right: 0;
            padding: 1em; }
            body aside#status form fieldset.query input {
              background: url("/static/images/search.svg") no-repeat #5a7ab7;
              border: 0;
              color: #fff;
              font-size: 1em;
              margin: 0;
              padding: 0 0 0 1.5em;
              transition: 0.5s;
              width: 0; }
              body aside#status form fieldset.query input:focus, body aside#status form fieldset.query input:not([value=""]) {
                width: 10em; }
          body aside#status form fieldset legend, body aside#status form fieldset input[type=radio] {
            display: none; }
    body aside#filter {
      position: absolute;
      width: 8em; }
      body aside#filter nav input {
        display: none; }
        body aside#filter nav input + label {
          color: #fefeff;
          padding: 0.5em; }
          body aside#filter nav input + label:hover {
            background: #365988;
            cursor: pointer; }
        body aside#filter nav input:checked + label {
          background: #365988;
          color: #fefeff; }
      body aside#filter nav fieldset {
        border: none;
        margin: 0;
        padding: 0; }
        body aside#filter nav fieldset legend {
          display: none; }
        body aside#filter nav fieldset.github_labels {
          display: flex;
          flex-direction: column; }
          body aside#filter nav fieldset.github_labels:not(:last-of-type) {
            border-bottom: 1px solid #151e30; }
        body aside#filter nav fieldset legend {
          display: none; }
  body #filter:not(:empty) + main {
    border-left: 8em #2c4065 solid; }
  body main {
    flex: 1;
    overflow: auto;
    padding: 1rem; }
    body main h1 {
      align-items: center;
      background: #e0e9f0;
      color: #50595f;
      display: flex;
      font-size: 1.2em;
      font-weight: 400;
      margin: -1rem -1rem 1rem -1rem;
      padding: 0.8em;
      text-transform: uppercase; }
      body main h1 input, body main h1 progress {
        margin: 0 0.5em; }
    body main progress[value] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      height: 0.8em; }
      body main progress[value]::-webkit-progress-bar {
        background-color: #c5d4df;
        box-shadow: none; }
      body main progress[value]::-moz-progress-bar {
        background-color: #fe8d53;
        border: none; }
      body main progress[value]::-webkit-progress-value {
        background: #fe8d53; }
    body main article h2 input {
      vertical-align: middle; }
    body main article .user-avatar {
      max-height: 40px;
      order: 0;
      vertical-align: middle;
      width: 40px; }
    body main article li {
      display: flex; }
    body main article li, body main article dl {
      align-items: center;
      background: #fff;
      border: 1px solid #dee9f2;
      margin: 0.25em 0;
      padding: 0.5em;
      position: relative;
      transition: color 0.2s; }
      body main article li input[type=checkbox], body main article dl input[type=checkbox] {
        margin: 0 1em; }
      body main article li:before, body main article dl:before {
        border-left: 0.25em solid;
        bottom: -1px;
        content: '';
        display: block;
        left: -1px;
        position: absolute;
        top: -1px; }
      body main article li.open:before, body main article dl.open:before {
        border-color: #0fbb0f; }
      body main article li.closed:before, body main article dl.closed:before {
        border-color: #f54e40; }
      body main article li a, body main article dl a {
        color: #010101;
        padding: 0.5em; }
      body main article li .issue-title, body main article dl .issue-title {
        display: block;
        font-size: 1.2em;
        margin-bottom: 0.25em; }
      body main article li:hover .issue-title, body main article dl:hover .issue-title {
        color: #818181; }
      body main article li .issue-id, body main article dl .issue-id {
        color: #6fa1fe;
        font-weight: 700; }
      body main article li .issues-label, body main article dl .issues-label {
        color: #6A6A6A;
        margin: 0 0.3em; }
      body main article li.pull-request .issue-title::after, body main article dl.pull-request .issue-title::after {
        border-radius: 1.5em;
        content: "PR";
        display: inline-block;
        font-size: 0.5em;
        margin-left: 0.5em;
        vertical-align: top; }
