/* - Labels colors - */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
}

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #C5CCD2;
  border-radius: 100%;
  box-shadow: none;
  height: 15px;
  width: 15px;
}
input[type=checkbox]:checked {
  background: #6fa1fe;
  background-clip: content-box;
  border: 2px solid #6fa1fe;
  padding: 2px;
}
input[type=checkbox]:checked:focus {
  outline: none;
}

ul {
  list-style: none;
}

.open {
  color: #010101;
}

.closed {
  color: #f54e40;
}

a {
  color: #6fa1fe;
  text-decoration: none;
}

html {
  font-family: Lato, sans-serif;
  font-weight: 400;
}
html body {
  background-color: #f0f5f9;
  color: #010101;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  margin: 0;
  overflow: hidden;
}
html body header {
  align-items: center;
  background: #2c3249;
  display: flex;
  flex: 100%;
  order: 0;
}
html body header h1 {
  color: #fff;
  flex: 1;
  font-size: 1.2em;
  margin: 0;
  padding-left: 1em;
}
html body header #main-navigation-menu {
  /* - nav menu - */
}
html body header #main-navigation-menu ul {
  display: flex;
  margin: 0;
}
html body header #main-navigation-menu ul li {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background 0.3s;
}
html body header #main-navigation-menu ul li:hover {
  background: #6fa1fe;
}
html body header #main-navigation-menu ul li a {
  color: #fff;
  display: block;
  padding: 1em;
}
html body #filter {
  /* - aside filter - */
  align-items: center;
  background: #2c4065;
  color: #ced9eb;
  display: flex;
  flex: 1 100%;
  order: 1;
  padding-left: 150px;
}
html body #filter form {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}
html body #filter form fieldset {
  border: none;
  margin: 0 0.5em 0 0;
  padding: 0;
}
html body #filter form fieldset label {
  display: inline-block;
  padding: 1em;
  transition: background 0.2s, color 0.2s;
}
html body #filter form fieldset label:hover {
  background: #f54e40;
  color: #fff;
  cursor: pointer;
}
html body #filter form fieldset label:checked {
  background: black;
}
html body #filter form fieldset legend, html body #filter form fieldset input {
  display: none;
}
html body #filter form legend {
  float: left;
}
html body #filter select, html body #filter input {
  box-shadow: none;
  margin: 0 0.5em;
  padding: 0.5em;
}
html body #filter select:focus, html body #filter input:focus {
  outline: none;
}
html body #filter input {
  background: #2c4065;
  border: 1px solid #ced9eb;
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 0.9em;
}
html body #filter select {
  background: #2c4065;
  border-color: #ced9eb;
  color: #fff;
  font-family: Lato, sans-serif;
}
html body #filter select option {
  background: #fff;
  color: #2c4065;
}
html body aside:not(#filter) {
  background: #2c4065;
  color: #ced9eb;
  min-height: 100vh;
  order: 2;
  width: 150px;
}
html body aside:not(#filter) nav form input[type=checkbox], html body aside:not(#filter) nav form input[type=radio] {
  /* - nav aside buttons -*/
  display: none;
}
html body aside:not(#filter) nav form input[type=checkbox] + label, html body aside:not(#filter) nav form input[type=radio] + label {
  color: #fefeff;
  padding: 0.5em;
}
html body aside:not(#filter) nav form input[type=checkbox] + label:hover, html body aside:not(#filter) nav form input[type=radio] + label:hover {
  background: #365988;
  cursor: pointer;
}
html body aside:not(#filter) nav form input:checked + label {
  background: #365988;
  color: #fefeff;
}
html body aside:not(#filter) nav form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
html body aside:not(#filter) nav form fieldset:not(:first-of-type) {
  display: flex;
  flex-direction: column;
}
html body aside:not(#filter) nav form fieldset:first-of-type {
  /*- state - */
  margin-bottom: 1em;
  text-align: center;
}
html body aside:not(#filter) nav form fieldset:first-of-type input:checked + label {
  background-color: #6fa1fe;
}
html body aside:not(#filter) nav form fieldset:first-of-type label {
  background: #2c4065;
  border-bottom: 1px solid #ced9eb;
  border-top: 1px solid #ced9eb;
  color: #fff;
  display: inline-block;
  margin: 0 -2px;
}
html body aside:not(#filter) nav form fieldset:first-of-type label:hover {
  background: #1d2941;
}
html body aside:not(#filter) nav form fieldset:first-of-type label:before {
  content: none;
}
html body aside:not(#filter) nav form fieldset:first-of-type label:first-of-type {
  border-left: 1px solid #ced9eb;
}
html body aside:not(#filter) nav form fieldset:first-of-type label:last-of-type {
  border-right: 1px solid #ced9eb;
}
html body aside:not(#filter) nav form fieldset label:before {
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 5px;
  margin-right: 5px;
  vertical-align: middle;
  width: 5px;
}
html body aside:not(#filter) nav form fieldset label[for="labels_sprint"]:before {
  background: #009800;
}
html body aside:not(#filter) nav form fieldset label[for="labels_next"]:before {
  background: #882211;
}
html body aside:not(#filter) nav form fieldset label[for="labels_must"]:before {
  background: #dd1111;
}
html body aside:not(#filter) nav form fieldset label[for="labels_nice"]:before {
  background: #ff4500;
}
html body aside:not(#filter) nav form fieldset label[for="labels_later"]:before {
  background: #fbca04;
}
html body aside:not(#filter) nav form fieldset label[for="labels_next"]:before {
  background: #882211;
}
html body aside:not(#filter) nav form fieldset label[for="labels_feature"]:before {
  background: #207de5;
}
html body aside:not(#filter) nav form fieldset label[for="labels_bug"]:before {
  background: #9a62d3;
}
html body aside:not(#filter) nav form fieldset label[for="labels_document"]:before {
  background: #a1a1a1;
}
html body aside:not(#filter) nav form fieldset label[for="labels_commercial"]:before {
  background: #7aafb3;
}
html body aside:not(#filter) nav form fieldset label[for="labels_design"]:before {
  background: #add924;
}
html body aside:not(#filter) nav form fieldset label[for="labels_tool"]:before {
  background: #882244;
}
html body aside:not(#filter) nav form fieldset label[for="labels_debt"]:before {
  background: #0b0b0b;
}
html body aside:not(#filter) nav form fieldset legend {
  display: none;
}
html body main {
  flex: 3 0px;
  height: 100vh;
  order: 3;
}
html body main #main {
  /* - section - */
}
html body main #main form h1 {
  align-items: center;
  background: #e0e9f0;
  color: #636F77;
  display: flex;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
  padding: 0.8em;
  text-transform: uppercase;
}
html body main #main form h1 input, html body main #main form h1 progress {
  margin: 0 0.5em;
}
html body main #main form progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
html body main #main form progress[value]::-webkit-progress-bar {
  background-color: #c5d4df;
  box-shadow: none;
}
html body main #main form progress[value]::-moz-progress-bar {
  background-color: #fe8d53;
  border: none;
}
html body main #main form progress[value]::-webkit-progress-value {
  background: #fe8d53;
}
html body main #main form article {
  background: #fff;
  margin-bottom: 1em;
  height: 100vh;
  overflow: auto;
  padding: 1em;
}
html body main #main form article h2 {
  margin: 0;
}
html body main #main form article h2 input {
  vertical-align: middle;
}
html body main #main form article ul li {
  margin: 0.5em 0;
}
html body main #main form article ul li label {
  align-items: center;
  display: flex;
  flex-direction: row;
  order: 2;
}
html body main #main form article ul li label .user-avatar {
  max-height: 40px;
  order: 0;
  vertical-align: middle;
  width: 40px;
}
html body main #main form article ul li label .mini-user-avatar {
  max-height: 40px;
  vertical-align: middle;
  width: 40px;
}
html body main #main form article ul li label .issues-label {
  border-radius: 5px;
  font-size: 0.8em;
  margin: 0 0.2em;
  order: 4;
  padding: 0.5em;
}
html body main #main form article ul li .pull-request::before {
  content: "PR";
  margin-left: -3em;
  position: absolute;
  text-align: right;
  width: 2em;
}
html body main #main form button {
  border: none;
  background: #BAC9D5;
  padding: 1em;
  font-family: Lato, sans-serif;
  transition: background 0.2s;
}
html body main #main form button:hover {
  background: #cad5df;
}
html body main #main form button:first-of-type {
  margin-left: 1em;
}

/*# sourceMappingURL=main.css.map */
