@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind:400,500,700&display=swap");
body {
  color: #464555;
  display: flex;
  flex-direction: column;
  font-family: 'Hind', sans-serif;
  margin: 0;
  min-height: 100vh; }

h1 {
  color: white;
  font-family: Montserrat, sans;
  font-size: 1rem;
  left: 1em;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 1em; }

h2 {
  margin: 2rem 1rem; }

h3:hover a {
  color: #5f76fe; }

[class^="circle-"] a {
  color: inherit;
  text-decoration: none; }
  [class^="circle-"] a::after {
    content: '\203A';
    display: inline-block;
    margin-left: .5em; }

time {
  background: #888;
  border-radius: 1em;
  color: white;
  float: right;
  font-size: 0.7em;
  font-weight: 700;
  padding: .5em 1em; }

progress {
  appearance: none;
  -webkit-appearance: none;
  background: #5f76fe11;
  border: 0;
  color: #2c3249bb;
  display: block;
  height: 1px;
  margin: 0.75em -1em -1em;
  width: calc(100% + 2em); }
  progress::-moz-progress-bar {
    background: #5f76febb; }
  progress::-webkit-progress-bar {
    background: #5f76fe11; }
  progress::-webkit-progress-value {
    background: #5f76febb; }

aside {
  padding: 0 1em; }

nav {
  background: #464555;
  padding-left: 5em; }
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li.active a {
      color: white;
      font-weight: 500; }
      nav ul li.active a::after {
        background: white;
        content: '';
        display: block;
        height: 2px;
        width: 100%; }
    nav ul a {
      color: white;
      display: block;
      padding: 1em;
      text-decoration: inherit;
      transition: 0.3s color; }
      nav ul a:hover, nav ul a:focus {
        color: #5f76fe; }

main {
  background: #f2f5f8;
  flex: 1; }
  main button[name="delete"], main button[name="add"] {
    background: none;
    border: none;
    color: #5f76fe;
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
    transition: color .3s;
    width: auto; }
    main button[name="delete"]:hover, main button[name="add"]:hover {
      color: #788cfe; }
  main button.report-create {
    background: #5f76fe;
    border-radius: 5px;
    color: white;
    font-family: 'Hind', sans-serif;
    margin-right: 1em;
    padding: .5em 1em;
    text-decoration: none;
    transition: background .3s; }
    main button.report-create:hover {
      background: #4660fe; }
  main dl dt {
    font-weight: bold;
    margin: 1em 0 0.5em; }
  main dl dd {
    margin-left: 0.5em; }
    main dl dd::before {
      content: '•';
      padding-right: 0.5em; }
  main nav {
    background: #3a3a47; }
    main nav ul {
      font-size: .9rem;
      text-transform: lowercase; }
  main article {
    margin: 0 1em; }
    main article h3 {
      font-size: 1.5em; }
    main article label {
      display: block;
      padding: 0.25em; }
    main article input:not([type="submit"]):not([type="checkbox"]):not([name="color"]), main article textarea {
      width: 100%; }
    main article textarea, main article button, main article input:not([type="checkbox"]), main article select {
      background: #f2f5f8;
      border: 1px solid #c0cfdd;
      border-radius: .2em;
      box-sizing: border-box;
      color: #464555;
      display: block;
      font-family: 'Hind', sans-serif;
      outline: none;
      padding: 1em; }
      main article textarea:focus, main article button:focus, main article input:not([type="checkbox"]):focus, main article select:focus {
        border-color: #5f76fe; }
    main article input[type="submit"] {
      background: #5f76fe;
      border-radius: 5px;
      color: white;
      font-family: 'Hind', sans-serif;
      margin-right: 1em;
      padding: .5em 1em;
      text-decoration: none;
      transition: background .3s;
      border: none;
      margin-top: 1em; }
      main article input[type="submit"]:hover {
        background: #4660fe; }
    main article input[type="color"] {
      height: 2em;
      padding: 0;
      width: 3em; }
    main article textarea {
      height: 8em; }
    main article section {
      background: white;
      border: 1px solid #e3e5eb;
      margin: .5em 0;
      padding: 1em; }
      main article section a {
        color: #464555;
        font-weight: 500;
        text-decoration: inherit; }
        main article section a:hover, main article section a:focus {
          color: #5f76fe; }
      main article section.closed time {
        background: #f2fded;
        color: #23c000; }
      main article section.open time {
        background: #f0edff;
        color: #464555; }
    main article table {
      background: white;
      border-collapse: collapse; }
      main article table tr {
        border-bottom: 1px solid #f2f5f8;
        text-align: left; }
      main article table th, main article table td {
        padding: 1em; }
      main article table tr {
        padding: 0.5em O; }
      main article table tbody td a {
        color: #5f76fe;
        text-decoration: none;
        transition: color .3s; }
        main article table tbody td a:hover {
          color: #788cfe; }

.circles {
  font-size: 0.8em;
  font-weight: 500;
  line-height: 2.5em;
  min-height: 2.5em;
  margin: 0.5em 0 -0.25em; }
  .circles input, .circles label {
    color: #828199;
    display: initial; }
  .circles input {
    appearance: none;
    -webkit-appearance: none;
    background-color: #464555;
    border-radius: 100%;
    display: inline-block;
    height: 5px;
    vertical-align: middle;
    width: 5px;
    z-index: 1; }
    .circles input:checked {
      background-color: #5f76fe; }
  .circles:not(:hover) input, .circles:not(:hover) input:not(:checked) + label {
    display: none; }
  .circles:not(:hover) label {
    color: #828199;
    margin-left: 0;
    padding-left: 0; }

.avatar {
  border-radius: .25em;
  display: inline-block;
  margin-right: 0.5em;
  width: 2em; }

.role {
  align-items: center;
  display: flex;
  flex-wrap: wrap; }
  .role ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%; }
    .role ul li {
      align-items: center;
      display: flex;
      margin: 1em 1em 0 0; }
  .role small {
    padding-left: 0.5em;
    color: red; }

.links {
  display: flex;
  list-style: none;
  margin: 0 1em;
  padding: 0; }
  .links a {
    background: #5f76fe;
    border-radius: 5px;
    color: white;
    font-family: 'Hind', sans-serif;
    margin-right: 1em;
    padding: .5em 1em;
    text-decoration: none;
    transition: background .3s; }
    .links a:hover {
      background: #4660fe; }
  .links input:not([type="checkbox"]), .links button {
    background: transparent;
    border: 0;
    color: #2c3249;
    cursor: pointer;
    display: inline;
    font-size: 1em;
    margin: 0 1em 0 0;
    text-decoration: underline;
    padding: 0; }

.focus {
  display: flex; }
  .focus input:not([type="checkbox"]) {
    display: inline-block;
    width: auto; }

.project {
  color: #5f76fe;
  display: block;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%; }

.delete-milestone {
  float: right;
  font-size: 0;
  padding-right: 0.25em; }
  .delete-milestone:before {
    border-radius: 1em;
    content: "×";
    display: inline-block;
    font-size: 1rem;
    margin-left: 0.5em; }

html:not(#page-issues):not(#page-milestones):not(#page-circle-milestones):not(#page-circle-roles) article {
  background: white;
  border: 1px solid #e3e5eb;
  margin-top: 1em;
  padding: 1em; }
  html:not(#page-issues):not(#page-milestones):not(#page-circle-milestones):not(#page-circle-roles) article h3 {
    margin: 0; }
  html:not(#page-issues):not(#page-milestones):not(#page-circle-milestones):not(#page-circle-roles) article dl dd a {
    color: #5f76fe;
    text-decoration: none;
    transition: color .3s; }
    html:not(#page-issues):not(#page-milestones):not(#page-circle-milestones):not(#page-circle-roles) article dl dd a:hover {
      color: #788cfe; }

/*# sourceMappingURL=style.css.map */