@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind:400,500,700&display=swap");
body {
  color: #464555;
  display: flex;
  flex-direction: column;
  font-family: 'Hind', sans-serif;
  margin: 0;
  min-height: 100vh; }

h1 {
  color: white;
  font-family: Montserrat, sans;
  font-size: 1rem;
  left: 1em;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 1em; }

h2 {
  margin: 2rem 1rem; }

h3:hover a {
  color: #5f76fe; }

[class^="circle-"] a {
  color: black;
  text-decoration: none; }
  [class^="circle-"] a::after {
    content: '→';
    display: inline-block; }

time {
  background: #888;
  border-radius: 0.5em;
  color: white;
  float: right;
  font-size: 0.7em;
  padding: 0.25em 0.5em; }

progress {
  appearance: none;
  -webkit-appearance: none;
  background: #2c324911;
  border: 0;
  color: #2c3249bb;
  display: block;
  height: 2px;
  margin: 0.75em -1em -1em;
  width: calc(100% + 2em); }
  progress::-moz-progress-bar {
    background: #2c3249bb; }
  progress::-webkit-progress-bar {
    background: #2c324911; }
  progress::-webkit-progress-value {
    background: #2c3249bb; }

aside {
  padding: 0 1em; }

nav {
  background: #464555;
  padding-left: 5em; }
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li.active a {
      color: white;
      font-weight: 500; }
      nav ul li.active a::after {
        background: white;
        content: '';
        display: block;
        height: 2px;
        width: 100%; }
    nav ul a {
      color: white;
      display: block;
      padding: 1em;
      text-decoration: inherit;
      transition: 0.3s color; }

main {
  background: #f0f5f9;
  flex: 1; }
  main dl dt {
    font-weight: bold;
    margin: 1em 0 0.5em; }
  main dl dd {
    margin-left: 0.5em; }
    main dl dd::before {
      content: '•';
      padding-right: 0.5em; }
  main nav {
    background: #3a3a47; }
    main nav ul {
      font-size: .9rem;
      text-transform: lowercase; }
  main article {
    background: white;
    margin: 2em 1em; }
    main article h3 {
      font-size: 1.5em;
      margin: 0;
      padding: 1em 0 0 1em; }
    main article label {
      display: block;
      padding: 0.25em; }
    main article textarea, main article button, main article input:not([type="checkbox"]) {
      background: white;
      border: 1px solid #888;
      box-sizing: border-box;
      color: black;
      display: block;
      padding: 0.2em;
      width: 100%; }
    main article button {
      display: inline-block;
      padding: 0.2em 1em;
      width: auto; }
    main article input[type="color"] {
      height: 2em;
      padding: 0;
      width: 3em; }
    main article textarea {
      height: 8em; }
    main article section {
      border-bottom: 3px solid #f0f5f9;
      padding: 1em; }
      main article section a {
        color: black;
        text-decoration: inherit; }
        main article section a:hover, main article section a:focus {
          color: #5f76fe; }
      main article section.closed time {
        background: #079507; }
      main article section.open time {
        background: #464555; }
    main article table {
      border-collapse: collapse; }
      main article table tr {
        border-bottom: 1px solid grey; }
      main article table th, main article table td {
        padding: 1em; }
      main article table tr {
        padding: 0.5em O; }

.circles {
  font-size: 0.7em;
  line-height: 2.5em;
  min-height: 2.5em;
  margin: 0.5em 0 -0.25em; }
  .circles input, .circles label {
    display: initial; }
  .circles input {
    appearance: none;
    -webkit-appearance: none;
    background-color: #888;
    border-radius: 1em;
    display: inline-block;
    height: 0.8em;
    margin: 0.6em 0 0 0.4em;
    position: absolute;
    width: 0.8em;
    z-index: 1; }
    .circles input:checked {
      background-color: #6fa1fe; }
  .circles:not(:hover) input, .circles:not(:hover) input:not(:checked) + label {
    display: none; }
  .circles:not(:hover) label {
    margin-left: 0;
    padding-left: 0.5em; }
  .circles label {
    border-radius: 0.2em;
    border-style: solid;
    border-width: 1px;
    padding: 0.25em 0.5em 0.25em 1.75em; }

.avatar {
  border-radius: .25em;
  display: inline-block;
  margin-right: 0.5em;
  width: 2em; }

.role {
  align-items: center;
  display: flex;
  flex-wrap: wrap; }
  .role ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%; }
    .role ul li {
      align-items: center;
      display: flex;
      margin: 1em 1em 0 0; }
  .role small {
    padding-left: 0.5em;
    color: red; }

.links {
  display: flex;
  list-style: none;
  margin: 0 1em;
  padding: 0; }
  .links a {
    background: #5f76fe;
    color: white;
    text-decoration: none;
    margin-right: 1em;
    padding: .5em 1em;
    border-radius: 5px; }
  .links input:not([type="checkbox"]), .links button {
    background: transparent;
    border: 0;
    color: #2c3249;
    cursor: pointer;
    display: inline;
    font-size: 1em;
    margin: 0 1em 0 0;
    text-decoration: underline;
    padding: 0; }

.focus {
  display: flex; }
  .focus input:not([type="checkbox"]) {
    display: inline-block;
    width: auto; }

.project {
  padding-right: 0.75em;
  opacity: 0.7; }

.delete-milestone {
  float: right;
  font-size: 0;
  padding-right: 0.25em; }
  .delete-milestone:before {
    border-radius: 1em;
    content: "×";
    display: inline-block;
    font-size: 1rem;
    margin-left: 0.5em; }

/*# sourceMappingURL=style.css.map */