$body: #f0f5f9;
$primary: #2c4065;
$secondary: #f54e40;
$text: #010101;
$header: #2c3249;
$aside: #2c4065;
$open-issue: $text;
$close-issue: $secondary;

/* - Labels colors - */

$sprint: #009800;
$next: #882211;
$must: #dd1111;
$nice: #ff4500;
$later: #fbca04;
$next: #882211;
$feature: #207de5;
$bug: #9a62d3;
$document: #a1a1a1;
$commercial: #7aafb3;
$design: #add924;
$tool: #882244;
$debt: #0b0b0b;
