$dark-primary-color: #455A64;
$primary-color: #607D8B;
$light-primary-color: #CFD8DC;
$text-color: #FFFFFF;

$dark-accent-color: #7F6003;
$accent-color: #FFC107;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;

$white: #F2F2F2;
$light-grey: #C8C8C8;
$black: #333;

$open-issue: #1B8B44;
$close-issue: #8B130E;
