@import "bourbon";
@import "reset";
@import "colors";

// Default HTML

body {
    background-color: $dark-primary-color;
    color: $primary-text-color;

    h1 {
        color: $text-color;
    }

    ul {
        list-style-type: none;
    }
}


// Navigation menu

#main-navigation-menu {
    display: block;
    width: 100%;

    ul {
        padding: 0;
        margin: 0;
        
        li {
            display: inline-block;
            margin: 0 10px;

            &:first-child{
                margin: 0;
            }
            
            a {
                display: block;
                color: $text-color;

                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
}

// Main

header {
    background-color: $primary-color;
    display: block;
    padding: 20px;
    margin-top: 20px;
    position:relative;
    box-shadow: 0 5px 5px $light-primary-color;

    #logo {
        img {
            margin: 0 10px 0 0;
            vertical-align: middle;
            width: 50px;
        }

    }
}

main {
    background-color: $white;
    display: block;
    padding: 20px;
}

footer {
    a {
        color: $text-color;
    }

    #kozea-logo {
        margin-right: 5px;
        vertical-align: middle;
        width: 50px;
    }
}

.user-avatar {
    width: 50px;
}