@import "bourbon";
@import "colors";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);


$headings-font: Montserrat, sans-serif;
$text-font: Lato, sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font;
}

ul {
  list-style: none;
}

.open {
  color: $open-issue;
}

.closed {
  color: $close-issue;
}

a {
  text-decoration: none;
}



html {
  font-family: $text-font;
  font-weight: 400;

  body {
    background-color: $body;
    color: $text;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    margin: 0;
    overflow: hidden;

    header {
      align-items: center;
      background: $header;
      display: flex;
      flex: 100%;
      order: 0;

      h1 {
        color: #fff;
        flex: 1;
        font-size: 1.2em;
        margin: 0;
        padding-left: 1em;
      }

      #main-navigation-menu { /* - nav menu - */
        ul {
          display: flex;
          margin: 0;

          li {
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            transition: background 0.3s;

            &:hover {
              background: #6fa1fe;
            }

            a {
              color: #fff;
              display: block;
              padding: 1em;
            }
          }
        }
      }
    }

    #filter {
      background: $aside;
      color: #ced9eb;
      flex: 1 100%;
      order: 1;
      padding-left: 150px;
      display: flex;
      align-items: center;

      form {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;

        fieldset {
          border: none;
          margin: 0 0.5em 0 0;
          padding: 0;

          label {
            display: inline-block;
            padding: 1em;
            transition: background 0.2s, color 0.2s;

            &:hover {
              background: $secondary;
              color: #fff;
              cursor: pointer;
            }

            &:checked {
              background: black;
            }
          }

          legend, input {
            display: none;
          }
        }

        legend {
          float: left;
        }
      }

      select, input {
        box-shadow: none;
        margin: 0 0.5em;
        padding: 0.5em;

        &:focus {
          outline: none;
        }
      }

      input {
        background: $aside;
        border: 1px solid #ced9eb;
        color: #fff;
        font-family: $text-font;
        font-size: 0.9em;
      }

      select {
        background: $aside;
        border-color: #ced9eb;

        option {
          background: #fff;
          font-family: $text-font;
        }
      }
    }

    aside:not(#filter) {
      background: $aside;
      color: #ced9eb;
      min-height: 100vh;
      order: 2;
      width: 150px;

      nav {
        form {
          input {
            &[type=checkbox], &[type=radio] { /* - nav aside buttons -*/
              display:none;

              & + label {
                color: #fefeff;
                padding: 0.5em;

                &:hover {
                  background: #365988;
                  cursor: pointer;
                }
              }
            }

            &:checked {
              & + label {
                background: #365988;
                color: #fefeff;
              }
            }

            &[type=radio]:checked + label {
               &:hover {
               }
            }
          }

          fieldset {
            border: none;
            margin: 0;
            padding: 0;

            &:not(:first-of-type) {
              display: flex;
              flex-direction: column;
            }

            &:first-of-type { /*- state - */
              margin-bottom: 1em;
              text-align: center;

              input {
                &:checked {
                  & + label {
                    background-color: #6fa1fe;
                  }
                }
              }

              label {
                background: $aside;
                border-bottom: 1px solid #ced9eb;
                border-top: 1px solid #ced9eb;
                color: #fff;
                display: inline-block;
                margin: 0 -2px;

                &:hover {
                  background: darken($aside, 10%);
                }

                &:before {
                  content: none;
                }

                &:first-of-type {
                  border-left: 1px solid #ced9eb;
                }

                &:last-of-type {
                  border-right: 1px solid #ced9eb;
                }
              }
            }

            label {
              &:before {
                border-radius: 100%;
                content: "";
                display: inline-block;
                height: 5px;
                margin-right: 5px;
                vertical-align: middle;
                width: 5px;
              }

              &[for="labels_sprint"]:before {
                background: $sprint;
              }

              &[for="labels_next"]:before {
                background: $next;
              }

              &[for="labels_must"]:before {
                background: $must;
              }

              &[for="labels_nice"]:before {
                background: $nice;
              }

              &[for="labels_later"]:before {
                background: $later;
              }

              &[for="labels_next"]:before {
                background: $next;
              }

              &[for="labels_feature"]:before {
                background: $feature;
              }

              &[for="labels_bug"]:before {
                background: $bug;
              }

              &[for="labels_document"]:before {
                background: $document;
              }

              &[for="labels_commercial"]:before {
                background: $commercial;
              }

              &[for="labels_design"]:before {
                background: $design;
              }

              &[for="labels_tool"]:before {
                background: $tool;
              }

              &[for="labels_debt"]:before {
                background: $debt;
              }
            }

            legend {
              display: none;
            }
          }
        }
      }
    }

    main {
      order: 3;
      flex: 3 0px;
      overflow: auto;
      height: 100vh;


      aside:not(#filter) {

      }

      #main { /* - section - */
        form {
          h1 {
            /*background: #e0e9f0;
            color: #636F77;
            font-size: 1.1em;
            font-weight: 400;
            margin: 0 0 0 -15px;
            padding: 0.8em;
            text-transform: uppercase;*/
            margin: 0;


            input {
            }
          }

          progress {
            display: inline-block;
          }

          article {
            h2 {
              input {

              }
            }

            ul {
              li {
                label {
                  .user-avatar {
                    vertical-align: middle;
                    width: 50px;
                  }

                  .mini-user-avatar {
                    vertical-align: middle;
                    width: 25px;
                  }
                  .issues-label {
                    border-radius: 5px;
                    padding: 0.25em;
                  }
                }

                .pull-request::before {
                  content: "PR";
                  margin-left: -3em;
                  position:absolute;
                  text-align: right;
                  width: 2em;
                }
              }
            }
          }

          button  {
          }
        }
      }
    }
  }
}
