@import "bourbon";
@import "colors";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


$headings-font: Montserrat, sans-serif;
$text-font: Roboto, sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font;
}

ul {
  list-style: none;
}

.open {
  color: $open-issue;
}

.closed {
  color: $close-issue;
}

a {
  text-decoration: none;
}



html {
  font-family: $text-font;
  font-weight: 400;

  body {
    background-color: $body;
    color: $text;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    margin: 0;
    overflow: hidden;

    header {
      background: $header;
      flex: 100%;
      order: 0;

      h1 {
        color: #fff;
        display: inline-block;
        font-size: 1.2em;
        margin: 0;
        padding-left: 1em;
      }

      #main-navigation-menu { /* - nav menu - */
        display: inline-block;
        float: right;

        ul {
          margin: 0;

          li {
            display: inline-block;
            line-height: 50px;
            margin: 0 10px;
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: 500;

            a {
              display: block;
              color: #fff;
            }
          }
        }
      }
    }

    #filter {
      background: $aside;
      color: #fff;
      order: 1;
      flex: 1 100%;

      form {
        display: inline-block;

        fieldset {
          border: none;
          display: inline-block;

          legend, input {
            display: none;
          }
        }

        div {
          display: inline-block;
        }

        legend {
          float: left;
        }
      }
    }


    aside:not(#filter) {
      background: $aside;
      color: #fefeff;
      min-height: 100vh;
      order: 2;

      nav {
        form {
          input {
            &[type=checkbox], &[type=radio] { /* - nav aside buttons -*/
              display:none;

              & + label {
                color: #fefeff;
                display:block;
                padding: 5px;

                &:hover {
                  color: black;
                  cursor: pointer;
                }
              }
            }

            &:checked {
              & + label {
                background-color: #365988;
                color: #fefeff;

                &:hover {
                  color: yellow;
                }
              }
            }

            &[type=radio]:checked + label {
               &:hover {
                 color: brown;
                 cursor: default;
               }
            }
          }

          fieldset {
            border: none;
            margin: 0;
            padding: 0;

            label {
              &:before {
                border-radius: 100%;
                content: "";
                display: inline-block;
                height: 5px;
                margin-right: 5px;
                vertical-align: middle;
                width: 5px;
              }

              &[for="labels_sprint"]:before {
                background: $sprint;
              }

              &[for="labels_next"]:before {
                background: $next;
              }

              &[for="labels_must"]:before {
                background: $must;
              }

              &[for="labels_nice"]:before {
                background: $nice;
              }

              &[for="labels_later"]:before {
                background: $later;
              }

              &[for="labels_next"]:before {
                background: $next;
              }

              &[for="labels_feature"]:before {
                background: $feature;
              }

              &[for="labels_bug"]:before {
                background: $bug;
              }

              &[for="labels_document"]:before {
                background: $document;
              }

              &[for="labels_commercial"]:before {
                background: $commercial;
              }

              &[for="labels_design"]:before {
                background: $design;
              }

              &[for="labels_tool"]:before {
                background: $tool;
              }

              &[for="labels_debt"]:before {
                background: $debt;
              }
            }

            legend {
              display: none;
            }

            &:first-of-type { /*- state - */
              text-align: center;

              input {
                &:checked {
                  & + label {
                    background-color: #6fa1fe;


                    &:hover {
                    }
                  }
                }
              }

              label {
                background: $aside;
                border-bottom: 1px solid #fff;
                border-top: 1px solid #fff;
                color: #fff;
                display: inline-block;
                margin: 0 -2px;

                &:before {
                  content: none;
                }

                &:first-of-type {
                  border-left: 1px solid #fff;
                  border-right: 1px solid #fff;
                }

                &:last-of-type {
                  border-left: 1px solid #fff;
                  border-right: 1px solid #fff;
                }
              }
            }
          }
        }
      }


    }

    main {
      order: 3;
      flex: 3 0px;
      overflow: auto;
      height: 100vh;


      aside:not(#filter) {

      }

      #main { /* - section - */
        form {
          h1 {
            /*background: #e0e9f0;
            color: #636F77;
            font-size: 1.1em;
            font-weight: 400;
            margin: 0 0 0 -15px;
            padding: 0.8em;
            text-transform: uppercase;*/
            margin: 0;


            input {
            }
          }

          progress {
            display: inline-block;
          }

          article {
            h2 {
              input {

              }
            }

            ul {
              li {
                label {
                  .user-avatar {
                    vertical-align: middle;
                    width: 50px;
                  }

                  .mini-user-avatar {
                    vertical-align: middle;
                    width: 25px;
                  }
                  .issues-label {
                    border-radius: 5px;
                    padding: 0.25em;
                  }
                }

                .pull-request::before {
                  content: "PR";
                  margin-left: -3em;
                  position:absolute;
                  text-align: right;
                  width: 2em;
                }
              }
            }
          }

          button  {
          }
        }
      }
    }
  }
}
