@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
// @import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Hind:400,700&display=swap')

$primary: #161d88

body
  color: black
  display: flex
  flex-direction: column
  // font-family: Lato, sans
  font-family: 'Hind', sans-serif
  margin: 0
  min-height: 100vh

h1
  color: white
  font-family: Montserrat, sans
  font-size: 1.25rem
  font-weight: 400
  line-height: 3rem
  margin: 0 1em
  position: absolute

h2
  margin: 2rem 1rem
  display: none

[class^="circle-"]
  // border-left: 0.5em solid
  // padding-left: 0.5em

a
  color: #2c3249
  text-decoration: none

time
  background: #888
  border-radius: 0.5em
  color: white
  float: right
  font-size: 0.7em
  padding: 0.25em 0.5em

progress
  appearance: none
  -webkit-appearance: none
  background: #2c324911
  border: 0
  color: #2c3249bb
  display: block
  height: 2px
  margin: 0.75em -1em -1em
  width: calc(100% + 2em)

  &::-moz-progress-bar
    background: #2c3249bb

  &::-webkit-progress-bar
    background: #2c324911

  &::-webkit-progress-value
    background: #2c3249bb

aside
  padding: 0 1em

nav
  // background: #2c3249
  background: #203990

  ul
    display: flex
    justify-content: flex-end
    list-style: none
    margin: 0
    min-height: 3rem
    padding: 0
    text-transform: uppercase

    li.active a
      background-color: #6fa1fe

    a
      color: white
      display: block
      font-weight: bold
      padding: 1em
      text-decoration: inherit
      transition: 0.3s background-color

      &:hover, &:focus
        background-color: #6fa1fe

main
  // background: #f0f5f9
  background: #f9f8ff
  flex: 1

  dl
    dt
      font-weight: bold
      margin: 1em 0 0.5em

    dd
      margin-left: 0.5em

      &::before
        content: '•'
        padding-right: 0.5em

  nav ul
    text-transform: lowercase

  article
    background: white
    margin: 2em 1em
    padding: 1em

    h3
      font-size: 1.75em
      // padding: .75em
      margin: 0
      // border-bottom: 1px solid blue

    label
      display: block
      padding: 0.25em

    textarea, button, input:not([type="checkbox"])
      background: white
      border: 1px solid #888
      box-sizing: border-box
      color: black
      display: block
      padding: 0.2em
      width: 100%

    button
      display: inline-block
      padding: 0.2em 1em
      width: auto

    input[type="color"]
      height: 2em
      padding: 0
      width: 3em

    textarea
      height: 8em

    section
      // background: white
      background: #fff
      // border: 1px solid #dee9f2
      // border-bottom: 1px solid #dee9f2
      // margin: 0.5em
      padding: .75em

      a
        text-decoration: inherit

        &:hover, &:focus
          text-decoration: underline

      &.closed time
        background: #0fbb0f

      &.open time
        background: #f54e40

    table
      border-collapse: collapse

      tr
        border-bottom: 1px solid grey

      th, td
        padding: 1em

      tr
        padding: 0.5em O

.circles
  font-size: 0.7em
  line-height: 2.5em
  min-height: 2.5em
  margin: 0.5em 0 -0.25em

  input, label
    display: initial

  input
    appearance: none
    -webkit-appearance: none
    background-color: #888
    border-radius: 1em
    display: inline-block
    height: 0.8em
    margin: 0.6em 0 0 0.4em
    position: absolute
    width: 0.8em
    z-index: 1

    &:checked
      background-color: #6fa1fe

  &:not(:hover)
    input, input:not(:checked) + label
      display: none

    label
      margin-left: 0
      padding-left: 0.5em

  label
    border-radius: 0.2em
    border-style: solid
    border-width: 1px
    padding: 0.25em 0.5em 0.25em 1.75em

.avatar
  border-radius: .25em
  display: inline-block
  margin-right: 0.5em
  width: 2em

.role
  align-items: center
  display: flex
  flex-wrap: wrap

  ul
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
    width: 100%

    li
      align-items: center
      display: flex
      margin: 1em 1em 0 0

  small
    padding-left: 0.5em
    color: red

.links
  display: flex
  list-style: none
  margin: 0 1em
  padding: 0

  a
    margin-right: 1em

  input:not([type="checkbox"]), button
    background: transparent
    border: 0
    color: #2c3249
    cursor: pointer
    display: inline
    font-size: 1em
    margin: 0 1em 0 0
    text-decoration: underline
    padding: 0

.focus
  display: flex

  input:not([type="checkbox"])
    display: inline-block
    width: auto

.project
  padding-right: 0.75em
  opacity: 0.7

.delete-milestone
  float: right
  font-size: 0
  padding-right: 0.25em

  &:before
    border-radius: 1em
    content: "×"
    display: inline-block
    font-size: 1rem
    margin-left: 0.5em
