@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
@import url('https://fonts.googleapis.com/css?family=Hind:400,500,700&display=swap')

$primary: #464555
$action: #5f76fe
$main: #f2f5f8

=link
  color: $action
  text-decoration: none
  transition: color .3s

  &:hover
    color: lighten($action, 5%)

=button-action
  background: #5f76fe
  border-radius: 5px
  color: white
  font-family: 'Hind', sans-serif
  margin-right: 1em
  padding: .5em 1em
  text-decoration: none
  transition: background .3s

  &:hover
    background: darken($action, 5%)

=button-action-secondary
  background: none
  border: none
  color: $action
  cursor: pointer
  font-weight: 700
  text-decoration: underline
  transition: color .3s
  width: auto

  &:hover
    color: lighten($action, 5%)

body
  color: $primary
  display: flex
  flex-direction: column
  font-family: 'Hind', sans-serif
  margin: 0
  min-height: 100vh

h1
  color: white
  font-family: Montserrat, sans
  font-size: 1rem
  left: 1em
  margin: 0
  position: absolute
  text-transform: uppercase
  top: 1em

h2
  margin: 2rem 1rem

h3
  &:hover a
    color: $action

[class^="circle-"]
  color: inherit

  &:hover a
    color: inherit

    &::after
      margin-left: 1.5em

  a
    color: inherit
    text-decoration: none

    &::after
      content: '\203A'
      display: inline-block
      margin-left: .5em
      transition: .3s

time
  background: #888
  border-radius: 1em
  color: white
  float: right
  font-size: 0.7em
  font-weight: 700
  padding: .5em 1em

progress
  appearance: none
  -webkit-appearance: none
  background: #5f76fe11
  border: 0
  color: #2c3249bb
  display: block
  height: 1px
  margin: 0.75em -1em -1em
  width: calc(100% + 2em)

  &::-moz-progress-bar
    background: #5f76febb

  &::-webkit-progress-bar
    background: #5f76fe11

  &::-webkit-progress-value
    background: #5f76febb

aside
  padding: 0 1em

nav
  background: $primary
  padding-left: 5em

  ul
    display: flex
    list-style: none
    margin: 0
    padding: 0

    li.active a
      color: white
      font-weight: 500

      &::after
        background: white
        content: ''
        display: block
        height: 2px
        width: 100%

    a
      color: white
      display: block
      padding: 1em
      text-decoration: inherit
      transition: 0.3s color

      &:hover, &:focus
        color: $action

main
  background: $main
  flex: 1

  button
    &[name="delete"],
    &[name="add"]
      +button-action-secondary
    &.report-create
      +button-action

  dl
    dt
      font-weight: bold
      margin: 1em 0 0.5em

    dd
      margin-left: 0.5em

      &::before
        content: '•'
        padding-right: 0.5em

  nav
    background: darken($primary, 5%)

    ul
      font-size: .9rem
      text-transform: lowercase

  article
    margin: 0 1em

    h3
      font-size: 1.5em

    label
      display: block
      padding: 0.25em

    input:not([type="submit"]):not([type="checkbox"]):not([name="color"]), textarea
      width: 100%

    textarea, button, input:not([type="checkbox"]), select
      background: $main
      border: 1px solid darken($main, 15%)
      border-radius: .2em
      box-sizing: border-box
      color: $primary
      display: block
      font-family: 'Hind', sans-serif
      outline: none
      padding: 1em

      &:focus
        border-color: $action

    input
      &[type="submit"]
        +button-action
        border: none
        margin-top: 1em

      &[type="color"]
        height: 2em
        padding: 0
        width: 3em

    textarea
      height: 8em

    section
      background: white
      border: 1px solid #e3e5eb
      margin: .5em 0
      padding: 1em

      a
        color: $primary
        font-weight: 500
        text-decoration: inherit

        &:hover, &:focus
          color: $action

      &.closed time
        background: #f2fded
        color: #23c000

        &::before
          content: '\2714'
          display: inline-block
          margin-right: .5em


      &.open time
        background: #f0edff
        color: $primary

    table
      background: white
      border-collapse: collapse

      tr
        border-bottom: 1px solid $main
        text-align: left

      th, td
        padding: 1em

      tr
        padding: 0.5em O

      tbody
        td a
          +link

.circles
  font-size: 0.8em
  font-weight: 500
  line-height: 2.5em
  min-height: 2.5em
  margin: 0.5em 0 -0.25em

  input, label
    display: initial

  input
    appearance: none
    -webkit-appearance: none
    background-color: $primary
    border-radius: 100%
    display: inline-block
    height: 5px
    vertical-align: middle
    width: 5px
    z-index: 1

    &:checked
      background-color: $action

  &:not(:hover)
    input, input:not(:checked) + label
      display: none

    label
      color: lighten($primary, 25%)
      margin-left: 0
      padding-left: 0

.avatar
  border-radius: .25em
  display: inline-block
  margin-right: 0.5em
  width: 2em

.role
  align-items: center
  display: flex
  flex-wrap: wrap

  ul
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
    width: 100%

    li
      align-items: center
      display: flex
      margin: 1em 1em 0 0

  small
    padding-left: 0.5em
    color: red

.links
  display: flex
  list-style: none
  margin: 0 1em
  padding: 0

  a
    +button-action

  input:not([type="checkbox"]), button
    background: transparent
    border: 0
    color: #2c3249
    cursor: pointer
    display: inline
    font-size: 1em
    margin: 0 1em 0 0
    text-decoration: underline
    padding: 0

.focus
  display: flex

  input:not([type="checkbox"])
    display: inline-block
    width: auto

.project
  color: $action
  display: block
  font-size: .8rem
  font-weight: 700
  text-transform: uppercase
  width: 100%

.delete-milestone
  float: right
  font-size: 0
  padding-right: 0.25em

  &:before
    border-radius: 1em
    content: "×"
    display: inline-block
    font-size: 1rem
    margin-left: 0.5em


html:not(#page-issues):not(#page-milestones):not(#page-circle-milestones):not(#page-circle-roles)
  article
    background: white
    border: 1px solid #e3e5eb
    margin-top: 1em
    padding: 1em

    h3
      margin: 0

    dl dd a
      +link
