{% extends '_layout.jinja2' %}

{% block title %}Cercles − {{ super() }}{% endblock title %}

{% block content %}
  <h2>Cercles</h2>

  {% for circle in circles %}
    <article>
      <h3 class="circle-{{ circle.circle_id }}">
        <a href="{{ url_for('circle', circle_id=circle.circle_id) }}">{{ circle.circle_name }}</a>
      </h3>
      <p>{{ circle.circle_purpose | markdown }}</p>
    </article>
  {% endfor %}
{% endblock content %}
