{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Suppression du rapport de la réunion de {{ report.report_type }} du {{ report.created_at.strftime('%d/%m/%Y') }}</h2>

  <article>
    <h3>Voulez-vous réellement supprimer ce rapport ?</h3>
    <form method="post">
      <button name="cancel">Annuler</button>
      <button name="delete">Supprimer</button>
    </form>
  </article>
{% endblock content %}
