{% extends 'circle/_circle.html.jinja2' %}

{% block title %}Rôle {{ role.role_name }} − {{ super() }}{% endblock title %}

{% block circle_content %}
  <h2>{{ role.role_name }}</h2>

  <article>
    <form method="post">
      <label>
        Nom
        <input name="role_name" value="{{ role.role_name }}" />
      </label>
      <label>
        Raison d’être
        <textarea name="role_purpose">{{ role.role_purpose or '' }}</textarea>
      </label>
      <label>
        Domaines
        <textarea name="role_domain">{{ role.role_domain or '' }}</textarea>
      </label>
      <label>
        Redevabilités
        <textarea name="role_accountabilities">{{ role.role_accountabilities or '' }}</textarea>
      </label>
      <input type="submit" />
    </form>
  </article>
{% endblock circle_content %}
