body {
  margin: 3em 2em 2em 2em;
}

h1 {
  font-variant: small-caps;
}

ul {
  margin: 0.25em 0;
}

nav {
  background: black;
  display: block;
  height: 2em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul {
  line-height: 2em;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: white;
  display: inline-block;
  outline: none;
  padding: 0 1em;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  background: #444;
}

footer {
  display: none;
}
