body {
  margin: 0 30px;
}
nav {
  background-color:#ccc;
}
nav ul li {
  background-color:#ddd;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}
h2 {
  clear:both;
}
article {
  background-color:#eee;
  width: 400px;
  margin: 20px;
  vertical-align: top;
  display: inline-block;
  vertical-align: middle;
}
nav form fieldset {
  display:inline-block;
}
li.closed {
  color: red;
}
li.open {
  color: green;
}
nav form input[type=checkbox],
nav form input[type=radio] {
  display:none;
}
nav form input[type=checkbox] + label,
nav form input[type=radio] + label{
  display:inline-block;
  background-color:#cce;
  padding: 5px;
  border: 2px outset ;
}
nav form input:checked + label {
  border: 2px inset;
  background-color:#ddf;
}
footer {
  clear:both;
}
.user-avatar {
  width: 50px;
}
.issues-label {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px;
}

