@import url(https:\/\/fonts.googleapis.com/css?family=Montserrat:400)
@import url(https:\/\/fonts.googleapis.com/css?family=Lato:400,700)
@import ../vars

h1, h2, h3, h4, h5, h6
  font-family: $headings-font

a
  color: $a
  text-decoration: none

ul
  list-style: none
  padding-left: 0

input
  background: #e0e9f0
  border: none
  box-sizing: border-box
  font-family: $text-font
  margin: 0
  max-width: 100%
  outline: none

label
  display: block

[type=checkbox]
  -webkit-appearance: none
  appearance: none
  border: 2px solid #c5ccd2
  box-shadow: none
  height: 15px
  width: 15px

  &:active
    border-color: $a

  &:checked
    background: content-box $a
    border-color: $a
    padding: 2px

    &:active
      border-color: #c5ccd2

[type=submit]
  border: none
  background: #bac9d5
  font-family: $text-font
  margin: 0.5em 0
  padding: 1em
  transition: background 0.2s

  &:hover, &:focus
    background: lighten(#bac9d5, 5%)

[class|=label]
  &:before
    background-color: #000
    border-radius: 0.25em
    border-width: 0.25em
    content: ''
    display: inline-block
    height: 0.5em
    font-size: 0.9em
    margin: 0 0.5em
    vertical-align: middle
    width: 0.5em



body
  align-content: flex-start
  background-color: $body
  color: $text
  display: flex
  height: 100vh
  flex-flow: column wrap
  font-family: $text-font
  font-weight: 400
  margin: 0
  width: 100vw
