@import ../vars

.Issues
  flex: 1
  overflow: auto
  margin-left: 8em
  position: relative

  &__head
    align-items: center
    background: $issues-header
    color: $issues-header-fg
    display: flex
    font-size: 1.2em
    font-weight: 400
    margin: 0
    padding: 0.8em
    text-transform: uppercase

    input
      margin: 0 0.5em

  &__group
    margin-left: 1em
    sup
      color: #999
      font-size: .65em

  progress[value]
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    border: none
    height: 0.8em
    margin: 0 0.5em

    &::-webkit-progress-bar
      background-color: #c5d4df
      box-shadow: none

    &::-moz-progress-bar
      background-color: $progress
      border: none

    &::-webkit-progress-value
      background: #fe8d53

  [type=submit]
    border: none
    background: #bac9d5
    font-family: $text-font
    margin: .5em 0 .5em 1em
    padding: 1em
    transition: background 0.2s

    &:hover, &:focus
      background: lighten(#bac9d5, 5%)
