@import ../vars

.Labels
  background: $aside
  color: $aside-text
  position: absolute
  height: 100vh
  width: 8em

  &__set
    padding: 0
    margin: 0

    &--type-priority
      border-bottom: 1px solid darken($aside, 15%)
