@import ../vars

.Labels
  background: $aside
  color: $aside-text
  flex: 0 0 8em
  display: flex
  flex-direction: column

  &__set
    padding: 0
    margin: 0
    border-bottom: 1px solid darken($aside, 15%)

    &--type-qualifier
      flex: 1
