@import ../vars

.Report
  flex: 1
  overflow: auto
  position: relative

  &__head
    align-items: center
    background: $issues-header
    color: $issues-header-fg
    display: flex
    font-size: 1.2em
    font-weight: 400
    margin: 0
    padding: 0.8em
    text-transform: uppercase

    input
      margin: 0 0.5em
      font-family: inherit
      font-size: inherit
      color: inherit

  &__date
    margin-left: 1em
    sup
      color: #999
      font-size: .65em

  progress[value]
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    border: none
    height: 0.8em
    margin: 0 0.5em

    &::-webkit-progress-bar
      background-color: #c5d4df
      box-shadow: none

    &::-moz-progress-bar
      background-color: $progress
      border: none

    &::-webkit-progress-value
      background: #fe8d53

  &__user
    margin-left: 1em

  &__month
    margin-left: 1em
    margin-right: .5em

  &__item
    display: flex
    flex-direction: column
    background: #fff
    border: 1px solid darken($body, 5%)
    margin: 0.25em 0
    padding: 0.5em
    position: relative
    transition: color 0.2s

    &:before
      border-left: 0.25em solid
      bottom: -1px
      content: ''
      display: block
      left: -1px
      position: absolute
      top: -1px

  &__issues
    margin-left: 2em
  &__repo
    font-weight: bold
