<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gibolt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ url_for('dynamic_css') }}" type="text/css" media="screen" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script language="javascript" src="{{ url_for('static', filename='js/main.js') }}" ></script>
  </head>

  <header>
    <h1>Gibolt</h1>
    <nav>
      <ul>
        <li {{ 'class="checked"' if request.endpoint == 'show_issues' and request.values.assignee }}><a href="{{ url_for('my_sprint') }}">My Sprint</a></li>
        <li {{ 'class="checked"' if request.endpoint == 'show' }}><a href="{{ url_for('show_now') }}">Timeline</a></li>
        <li {{ 'class="checked"' if request.endpoint == 'show_issues' and not request.values.assignee }}><a href="{{ url_for('show_sprint_issues') }}">Issues</a></li>
        <li {{ 'class="checked"' if request.endpoint == 'show_assigned_issues' }}><a href="{{ url_for('show_assigned_issues') }}">Report</a></li>
        <li><a href="{{ url_for('refresh_all') }}">Refresh Cache</a></li>
      </ul>
    </nav>
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <aside id="flash">
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      </aside>
    {% endif %}
  {% endwith %}
  <aside id="status">{% block status %}{% endblock status %}</aside>
  <aside id="filter">{% block filter %}{% endblock filter %}</aside>

  <body>
    <main>
      {% block main %}{% endblock main %}
    </main>
  </body>

</html>
