<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gibolt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" media="screen" />
  </head>

  <body>
    <a name="top"></a>
    <header>
      <h1 id="logo">
        <img id="big-gear" src="{{ url_for('static', filename='images/gear.png')}}" alt='logo' />
        <img id="small-gear" src="{{ url_for('static', filename='images/gear42.png')}}" alt='logo' />
        Gibolt
      </h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <aside class="flash {{ category }}">
          {{ message }}
        </aside>
      {% endfor %}
    {% endwith %}

    <nav id="main-navigation-menu">
      <ul>
        <li><a href="{{ url_for('show_now', display='year') }}">Timeline</a></li>
        <li><a href="{{ url_for('show_sprint_issues') }}">Issues for sprint</a></li>
        <li><a href="{{ url_for('show_assigned_issues') }}">Issues for time analyze</a></li>
        <li><a href="{{ url_for('refresh_all') }}">Refresh cache</a></li>
      </ul>
    </nav>
    </header>

    <main>
      {% block sidenav %}{% endblock sidenav %}
      {% block main %}{% endblock main %}
    </main>

    <footer>
      <ul>
        <li>
          <img id="kozea-logo" src="{{ url_for('static', filename='images/logo-kozea.png') }}" alt="logo-kozea" />
          <a href="http://community.kozea.org/">A Kozea Project</a></li>
      </ul>
    </footer>
  </body>
</html>
