{% extends '_layout.jinja2' %}

{% block sidenav %}
  <form method="get" action="{{ url_for('show_assigned_issues') }}">
    <label>Start
      <input type="date" value="{{ start }}" name="start">
    </label>
    <label>Stop
      <input type="date" value="{{ stop }}" name="stop">
    </label>
    <input type="submit" value="Filter by date">
  </form>
  <nav>
    <ul>
      {% for user in users | sort %}
        <li><a href="#{{ user }}">{{ user }}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endblock sidenav %}

{% block main %}
  <h1>Report of Issues by Project and by User</h1>

  <article>
    <h2>Overall</h2>
    {% for issues_by_month in issues | groupby('closed_month') %}
      <h3>{{ issues_by_month.grouper | format_date('%B %Y') }}</h3>
      {% for issues_by_project in issues_by_month.list | groupby('repository.full_name') | sort_by_len(reverse=True) %}
        <li>
          {{ issues_by_project.grouper | short_name }}
          ({{ (issues_by_project.list | length / issues_by_month.list | length * 100) | round | int }}%)
        </li>
      {% endfor %}
    {% endfor %}
  </article>

  {% for grouper, issues_by_user in issues | groupby('assignee.login') | sort_by_len(reverse=True) %}
    <article>
      <h2>
        <img class="user-avatar" src="{{ issues_by_user[0].assignee.avatar_url }}" alt="avatar" />
        {{ grouper }}
      </h2>
      {% for issues_by_month in issues_by_user  | groupby('closed_month') | sort_by_len(reverse=True) %}
        <h3>{{ issues_by_month.grouper | format_date('%B %Y')}}</h3>
        <dl>
          {% for issues_by_project in issues_by_month.list | groupby('repository.full_name') | sort_by_len(reverse=True) %}
            <dt>
              {{ issues_by_project.grouper | short_name }}
              ({{ (issues_by_project.list | length / issues_by_month.list | length * 100) | round | int }}%)
            </dt>
            {% for issue in issues_by_project.list %}
              <dd>{{ issue.title }}</dd>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endfor %}
    </article>
  {% endfor %}
{% endblock main %}
