{% extends '_layout.jinja2' %}

{% block sidenav %}
	<form method="get" action="{{ url_for('show_assigned_issues') }}">
			<input type="date" value="{{ start }}" name="start">
			<input type="date" value="{{ stop }}" name="stop">
			<button type="submit">submit</button>
	</from>
	<ul>
		{% for user in users | sort %}
			<li><a href="#{{ user }}">{{ user }}</a></li>
		{% endfor %}
	</ul>

{% endblock sidenav %}
{% block main %}
  {% for issues_by_user in issues | groupby('assignee.login') %}
		<article>
			<h3> {{ issues_by_user.grouper }}
				<a name="{{ issues_by_user.grouper }}" href="#top">▲</a>
			</h3>
			{% for issues_by_month in issues_by_user.list  | groupby('closed_month') %}
				<h4> {{ issues_by_month.grouper }} </h4>
				<ul>
					{% for issues_by_project in issues_by_month.list | groupby('repository.short_name') | sort_by_len(reverse=True) %}
						<li>
							{{ issues_by_project.grouper }}
							{{ (issues_by_project.list | length / issues_by_month.list | length * 100) | round}} %
							<ul>
								{% for issue in issues_by_project.list %}
									<li>{{ issue.title }}</li> 
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			{% endfor %}
		</article>
	{% endfor %}
	<article>
		<h3> All </h3>
		<ul>
			{% for issues_by_month in issues  | groupby('closed_month') %}
				<h4> {{ issues_by_month.grouper }} </h4>
				{% for issues_by_project in issues_by_month.list | groupby('repository.short_name') | sort_by_len(reverse=True) %}
					<li>
						{{ issues_by_project.grouper }}
						{{ (issues_by_project.list | length / issues_by_month.list | length * 100) | round}} %
					</li>
				{% endfor %}
			{% endfor %}
		</ul>
	</article>
{% endblock main %}
