{% extends '_layout.jinja2' %}

{% block main %}
  <form action="" method="post">
    <label for="username">Login</label>
    <input type="text" name="username" id="username" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <input type="submit" value="Login" />
  </form>
{% endblock main %}
