{% extends '_layout.jinja2' %}

{% block main %}
  <h2>Timeline for {{ start.strftime('%B %Y') }}</h2>
  <article>
    {% for day, stones in stones_by_step %}
      <h3>{{ day.strftime('%d') }}</h3>
      <ul>
        {% for stone in stones %}
          <li>
            <a href="{{ stone['html_url'] }}">
              {{ stone['title'] }}
            </a>
            <progress value="{{ stone['progress'] }}">
              {{ stone['closed_issues'] }} / {{ stone['closed_issues'] + stone['open_issues'] }}
            </progress>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </article>
{% endblock main %}
