{% extends '_layout.jinja2' %}

{% block main %}
  <ul>
    {% for repository in repositories %}
      <li>
        <a href="{{ url_for("repository", repository_name=repository) }}">{{ repository }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock main %}
