{% extends '_layout.jinja2' %}
{% import 'utils/_progress.jinja2' as progress %}

{% block main %}
  <h1>Timeline from {{ stones_by_step[0][0].strftime('%B %Y') }} to {{ stones_by_step[-1][0].strftime('%B %Y') }}</h1>
  {% for month, stones in stones_by_step %}
    <article>
      <h2>{{ month.strftime('%B %Y') }}</h2>
      {% if stones %}
        <ul>
          {% for stone in stones | sort(attribute='due_on') %}
            <li class="{{ stone.state }}">
              {{ stone.due_on.strftime('%d') }} {{ stone.repo }}
              {# TODO: replace this when the URL is available from the API #}
              <a href="{{ stone.url | replace('//api.github.com/repos/', '//github.com/') | replace('/milestones/', '/milestone/') }}">{{ stone.title }}</a>
              {{ progress.render(stone.open_issues, stone.closed_issues) }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </article>
  {% endfor %}
  <form method="post" action="{{ url_for('refresh_all') }}">
    <input type="submit" value="Refresh Cache" />
  </form>
{% endblock main %}
