{% extends '_layout.jinja2' %}

{% block main %}
    <ul>
    {% for month, stones in stones_by_step %}
      <li class="month">
        <a href="{{url_for('show_month', month_start=month.strftime('%Y-%m-%dT%XZ'))}}">
			{{month.strftime('%B')}}
		</a>
        <ul>
          {% for stone in stones %}
            <li class="stone {{stone['repo']}}">
              <a href="{{stone['html_url']}}">
                {{stone['title']}}
              </a>
              <progress value="{{stone['progress']}}" max="100">
                {{ stone['closed_issues']}} / {{stone['closed_issues'] + stone['open_issues']}}
              </progress>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
{% endblock main %}
