{% extends '_layout.jinja2' %}

{% block main %}
  <h2>
    Timeline from {{ stones_by_step[0][0].strftime('%x') }}
    to {{ stones_by_step[-1][0].strftime('%x') }}
  </h2>
  {% for month, stones in stones_by_step %}
    <article>
      <h3>
        <a href="{{ url_for('show_month', month_start=month.isoformat()) }}">
          {{ month.strftime('%B %Y') }}
        </a>
      </h3>
      {% if stones %}
        <ul>
          {% for stone in stones | sort(attribute='due_on')%}
            <li>
							{{ stone['due_on'] }}
              {{ stone.repo }}
              <a href="{{ stone['html_url'] }}">
                {{ stone['title'] }}
              </a>
              <progress value="{{ stone['progress'] }}">
                {{ stone['closed_issues']}} / {{ stone['closed_issues'] + stone['open_issues'] }}
              </progress>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </article>
  {% endfor %}
{% endblock main %}
