{% extends '_layout.jinja2' %}

{% block title %}{{ circle.circle_name }} − {{ super() }}{% endblock title %}

{% block content %}
  <h2 class="circle-{{ circle.circle_id }}">{{ circle.circle_name }}</h2>
  <aside class="menu-circle">
    <ul>
      <li><a href="{{ url_for('circle', circle_id=circle.circle_id)}}">Informations<a></li>
      <li><a href="{{ url_for('circle_actions', circle_id=circle.circle_id)}}">Actions récurentes</a></li>
      <li><a href="{{ url_for('circle_indicators', circle_id=circle.circle_id)}}">Indicateurs</a></li>
      <li><a href="{{ url_for('circle_milestones', circle_id=circle.circle_id)}}">Etapes</a></li>
      <li><a href="{{ url_for('circle_roles', circle_id=circle.circle_id)}}">Rôles</a></li>
      <li><a href="{{ url_for('circle_reports', circle_id=circle.circle_id)}}">Réunions</a></li>
    </ul>
  </aside>
  {% block circle_content %}
  {% endblock circle_content %}
{% endblock content %}
