{% extends 'circle/_circle.html.jinja2' %}

{% block circle_content %}
  <ul class="links">
    <li>
      <a href="{{ url_for('circle_action_add', circle_id=circle.circle_id)}}">Ajouter une action récurrente</a>
    </li>
  </ul>

  <article>
    <h3>Actions récurrentes</h3>
    <table>
      <thead>
        <tr>
          <th>Actions</th>
          {% for report in last_reports %}
            <th>{{ report.created_at.strftime('%d/%m/%Y') }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for action in actions %}
          <tr>
            <td>
              <a href="{{ url_for('circle_action', circle_id=circle.circle_id, action_id=action.item_id)}}">
                {{ action.role_focus.focus_name }} {{ action.content }}
              </a>
            </td>
            {% for report in last_reports %}
              <td>
                {% for report_action in report.actions %}
                  {% if report_action.item_id == action.item_id %}
                    <input type="checkbox" disabled {{ 'checked' if report_action.checked }} />
                  {% endif %}
                {% endfor %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
{% endblock circle_content %}
