{% extends 'circle/_circle.html.jinja2' %}

{% block circle_content %}
  <aside>
    <ul class="links">
      <li><a href="{{ url_for('circle_edit', circle_id=circle.circle_id) }}">Éditer</a></li>
    </ul>
  </aside>

  <article>
    <h3>Raison d’être</h3>
    {{ circle.circle_purpose | markdown }}
  </article>

  <article>
    <h3>Domaines</h3>
    {{ circle.circle_domain | markdown }}
  </article>

  <article>
    <h3>Redevabilités</h3>
    {{ circle.circle_accountabilities | markdown }}
  </article>

{% endblock circle_content %}