{% extends '_layout.jinja2' %}

{% block content %}
  <h2>
    Suppression de
    {% if item.item_type == 'checklist' %}
      l'action récurente {{ item.content }} 
    {% else %}
      l'indicateur {{ item.cotent }}
    {% endif %}</h2>

  <article>
    <h3>Voulez-vous réellement supprimer
    {% if item.item_type == 'checklist' %}
      cette action récurente ?
    {% else %}
     cet indicateur ?
    {% endif %}</h3>
    <form method="post">
      <button name="cancel">Annuler</button>
      <button name="delete">Supprimer</button>
    </form>
  </article>
{% endblock content %}
