{% extends 'circle/_circle.html.jinja2' %}

{% block circle_content %}
  {% if is_edit %}
    <ul class="links">
      {% if item.item_type == 'checklist' %}
        <a href="{{ url_for('circle_action_delete', circle_id=circle.circle_id, action_id=item.item_id)}}">
          Supprimer l’action récurrente
        </a>
      {% else %}
        <a href="{{ url_for('circle_indicator_delete', circle_id=circle.circle_id, indicator_id=item.item_id)}}">
          Supprimer l’indicateur
        </a>
      {% endif %}
    </ul>
  {% endif %}

  <article>
    {% if is_edit %}
      <h3>Édition de {{ item.content }}</h3>
    {% else %}
      <h3>
        Ajout
        {% if is_action %}
          d’une action récurrente
        {% else %}
          d’un indicateur
        {% endif %}
      </h3>
    {% endif %}
    <form method="post">
      <label>
        Action
        <input name="content" {% if is_edit %}value="{{ item.content }}"{% endif %} />
      </label>
      <label>
        Role
        <select name="role_focus_id" {% if is_edit %}value="{{ role_id }}"{% endif %}>
          {% for role in all_roles  %}
            <option value="{{ role.id }}" {% if is_edit and role.id == role_id %}selected='selected'{% endif %}>{{ role.label }}</option>
          {% endfor %}
        </select>
      </label>
      <input type="submit" />
    </form>
  </article>
{% endblock circle_content %}
