<!doctype html>
<html>
  <head>
    <title>gibolt</title>
    {% if not config.get('STATIC_SERVER', '') %}
      <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    {% endif %}
  </head>
  <body>
    <div id="root">{{ rendered |safe }}</div>
    {% if state %}
      {# Redux initial state #}
      <script>
        window.__PRELOADED_STATE__ = {{ state | tojson }}
      </script>
    {% endif %}

    <script src="{{ config.get('STATIC_SERVER') or '' }}{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
